<%- include('./header') %>
<section class="section-pagetop bg-light">
  <div class="container clearfix">
    <h2 class="title-page">Admin</h2>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
      </ol>
    </nav>
  </div>
</section>
<section class="section-content bg padding-y">
  <div class="container">
    <div class="row">
      <main class="col-sm-12">
        <a class="btn btn-lg btn-primary" href="/admin/categorias"
          >Categorias</a
        >
      </main>
      <!-- col.// -->
    </div>
  </div>
</section>

<%- include('./footer') %>
