<%- include('./header') %>

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y">
  <div class="container-fluid mb-5">
    <div class="row">
      <!-- col.// -->
      <div class="col-md-12">
        <div class="slider-banner-owl owl-carousel owl-theme">
          <div class="item-slide">
            <img src="images/banners/slide1.webp" />
          </div>
          <div class="item-slide">
            <img src="images/banners/slide2.webp" />
          </div>
          <div class="item-slide">
            <img src="images/banners/slide3.webp" />
          </div>
        </div>
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <article class="card card-body">
          <div class="row">
            <div class="col-md-4">
              <figure>
                <span class="text-primary"
                  ><i class="fa fa-2x fa-truck"></i
                ></span>
                <figcaption class="pt-3">
                  <h5 class="title">Fast delivery</h5>
                  <p>
                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore
                  </p>
                </figcaption>
              </figure>
              <!-- iconbox // -->
            </div>
            <!-- col // -->
            <div class="col-md-4">
              <figure>
                <span class="text-primary"
                  ><i class="fa fa-2x fa-landmark"></i
                ></span>
                <figcaption class="pt-3">
                  <h5 class="title">Creative Strategy</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod
                  </p>
                </figcaption>
              </figure>
              <!-- iconbox // -->
            </div>
            <!-- col // -->
            <div class="col-md-4">
              <figure>
                <span class="text-primary"
                  ><i class="fa fa-2x fa-lock"></i
                ></span>
                <figcaption class="pt-3">
                  <h5 class="title">High secured</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod
                  </p>
                </figcaption>
              </figure>
              <!-- iconbox // -->
            </div>
            <!-- col // -->
          </div>
        </article>
      </div>
    </div>
    <header class="section-heading">
      <h3 class="section-title">Popular products</h3>
    </header>
    <div class="row">
      <div class="col-md-12">
        <div class="slider-items-owl owl-carousel owl-theme">
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <span class="badge badge-danger"> New </span>
                <img src="images/items/1.jpg" />
              </div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">First item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/2.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Second item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/3.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Third item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/4.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Good item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/5.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Another item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/3.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Third item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/4.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Good item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
        </div>
      </div>
    </div>
    <header class="section-heading">
      <h3 class="section-title">New Products</h3>
    </header>
    <div class="row">
      <div class="col-md-12">
        <div class="slider-items-owl owl-carousel owl-theme">
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <span class="badge badge-danger"> New </span>
                <img src="images/items/1.jpg" />
              </div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">First item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/2.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Second item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/3.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Third item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/4.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Good item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/5.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Another item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/3.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Third item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
          <div class="item-slide">
            <figure class="card card-product-grid">
              <div class="img-wrap"><img src="images/items/4.jpg" /></div>
              <figcaption class="info-wrap text-center">
                <h6 class="title text-truncate">
                  <a href="#">Good item name</a>
                </h6>
              </figcaption>
            </figure>
            <!-- card // -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container //  -->
</section>
<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">Our Brands</h3>
    </header>
    <!-- sect-heading -->

    <div class="row">
      <div class="col-md-2">
        <figure class="box item-logo">
          <a href="#"><img src="images/logos/logo1.png" /></a>
          <figcaption class="text-center border-top pt-2">
            36 Products
          </figcaption>
        </figure>
        <!-- item-logo.// -->
      </div>
      <!-- col.// -->
      <div class="col-md-2">
        <figure class="box item-logo">
          <a href="#"><img src="images/logos/logo2.png" /></a>
          <figcaption class="text-center border-top pt-2">
            980 Products
          </figcaption>
        </figure>
        <!-- item-logo.// -->
      </div>
      <!-- col.// -->
      <div class="col-md-2">
        <figure class="box item-logo">
          <a href="#"><img src="images/logos/logo3.png" /></a>
          <figcaption class="text-center border-top pt-2">
            25 Products
          </figcaption>
        </figure>
        <!-- item-logo.// -->
      </div>
      <!-- col.// -->
      <div class="col-md-2">
        <figure class="box item-logo">
          <a href="#"><img src="images/logos/logo4.png" /></a>
          <figcaption class="text-center border-top pt-2">
            72 Products
          </figcaption>
        </figure>
        <!-- item-logo.// -->
      </div>
      <!-- col.// -->
      <div class="col-md-2">
        <figure class="box item-logo">
          <a href="#"><img src="images/logos/logo5.png" /></a>
          <figcaption class="text-center border-top pt-2">
            41 Products
          </figcaption>
        </figure>
        <!-- item-logo.// -->
      </div>
      <!-- col.// -->
      <div class="col-md-2">
        <figure class="box item-logo">
          <a href="#"><img src="images/logos/logo2.png" /></a>
          <figcaption class="text-center border-top pt-2">
            12 Products
          </figcaption>
        </figure>
        <!-- item-logo.// -->
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container // -->
</section>
<section class="section-name bg padding-y">
  <div class="container">
    <h3 class="mb-3">Download app demo text</h3>

    <a href="#"><img src="images/misc/appstore.png" height="40" /></a>
    <a href="#"><img src="images/misc/appstore.png" height="40" /></a>
  </div>
  <!-- container // -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<%- include('./footer') %>
