<%- include('./header') %>

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li><a href="#">Best clothes</a></li>
            <li><a href="#">Automobiles</a></li>
            <li><a href="#">Home interior</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Technologies</a></li>
            <li><a href="#">Digital goods</a></li>
            <li class="has-submenu">
              <a href="#">More items</a>
              <ul class="submenu">
                <li><a href="#">Submenu name</a></li>
                <li><a href="#">Great submenu</a></li>
                <li><a href="#">Another menu</a></li>
                <li><a href="#">Some others</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </aside>
      <!-- col.// -->
      <div class="col-md-9">
        <article class="banner-wrap">
          <img src="images/banners/banner.jpg" class="w-100 rounded" />
        </article>
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<%- include('./footer') %>
