<%- include('../header') %>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-light">
  <div class="container clearfix">
    <h2 class="title-page">Admin</h2>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">
          <a class="" href="/admin">Admin</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/admin/categorias">categorias</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Novo</li>
      </ol>
    </nav>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y">
  <div class="container">
    <div class="row">
      <main class="col-sm-12">
        <div class="row">
          <div class="card col-md-8 offset-md-2">
            <article class="card-body">
              <h4 class="card-title mb-4 mt-1">Criar nova categoria</h4>
              <form method="POST">
                <div class="form-group">
                  <label>Categoria</label>
                  <input
                    name="category"
                    class="form-control <% if(errors && errors.indexOf('category') >= 0){ %> is-invalid <% } %>"
                    type="text"
                    value="<%= form.category%>"
                  />
                  <div class="invalid-feedback">
                    Por favor informe uma categoria
                  </div>
                </div>
                <!-- form-group// -->
                <div class="form-group">
                  <label>Descrição</label>

                  <textarea
                    value="teste"
                    name="description"
                    class="form-control <% if(errors && errors.indexOf('description') >= 0){ %> is-invalid <% } %>"
                  >
<%=form.description %></textarea
                  >
                  <div class="invalid-feedback">
                    Por favor informe uma descrição
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">
                    Salvar
                  </button>
                </div>
              </form>
            </article>
          </div>
          <!-- card.// -->
        </div>
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>

<%- include('../footer') %>
